{% extends '@KibaticCms/layout.html.twig' %}

{% block content %}
    <h1>Block creation</h1>

    <section>
        {% include '@KibaticCms/block/_form.html.twig' %}

        <div class="btn-group pull-right" role="group">
            <a href="{{ path('cms_block_index') }}" class="btn btn-default">Back to the list</a>
            <button type="submit" class="btn btn-success" form="{{ form.vars.id }}">Add</button>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% include '@KibaticCms/_css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@KibaticCms/_js.html.twig' %}
{% endblock %}
